.input_area{
  max-width:1000px;
}

.input_area .x_title h2{
 margin-top:30px;
}
.control-label {
  text-align: left !important;
}


h2{
  color: #00b8ff;
}



.big_title {
  text-align:center;
  color: #00b8ff;
  font-size: 18pt;
  height: 100px;
  vertical-align: middle  !important;
  background-color: #2a3f5417;
}


.tr_title th{
  text-align:center;
  background: rgba(52, 73, 94, 0.94);
  color:white
}


.tr_value td{
  text-align:center;
}


.mtitle{
  background-color: #2a3f5417;
  color: #00b8ff;
}

.mth{
  width:100px;
  background-color:#2a3f5417;
  text-align: center;
}

.consulting_history{
  background: rgba(52, 73, 94, 0.94);
  color:white;
}

.consulting_docu{
  background-color: #2a3f5417;
}

.tag_red{
  background: #d9534f;
}

.tag_red:after{
  border-left: 11px solid #d9534f;
}

.tag_blue{
  background: #5bc0de;
}

.tag_blue:after{
  border-left: 11px solid #5bc0de;
}


#datatable-main td.company_name{
  color:#00b8ff;

}

#datatable-main td.company_name:hover{

  text-decoration: underline;
  cursor:pointer;
}

#datatable-main td.product_name:hover{

  text-decoration: underline;
  cursor:pointer;
}


a.tag:hover{
  text-decoration: none;
  color:dodgerblue;
}

li.memo_li .excerpt{
  padding-top:20px;
}

.ellipsis{
padding: 10px !important;
}



.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-file:before {
  content: "\e022";
}



.th_num{
  width:50px;
}

.td_x{
  width:50px;
}
td.td_x{

  color:dodgerblue;
}

td.td_x{

 cursor:pointer;
}

.dataTables_filter{
  width:100%;
}

.datatable_btn_search {
  padding-bottom: 8px;

}

td.consulting_status button.io_status{
  min-width:82px;
}

.table_company_info tbody th{
 min-width:100px;
}


.table_delivery_info .mth{
  width:100px;
}

.div_button{
  text-align: center;
}


.info_td_right{
  width:150px;
}

.unit_price,.price_calcu{
  text-align: right;
  padding-right:20px !important;
}

.select2-container{
  min-width:200px !important;
}



#admin_memo{
  width:400px;
  height:50px;
  border-color: #c5c5c5;;
  margin-left:10px;
}

#datatable-main tbody tr:hover{
  cursor: pointer;
  background-color: #7a354c10;
}

.manager{
  color:#337ab7;
}

.attatch_img{
  height:100px;
  margin-right:5px;
}